@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  animation: slideUp 0.25s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bigScreen {
  display: block;
}

@media (max-width: 1400px) {
  .bigScreen {
    display: none;
  }
}

@keyframes shake {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.shake {
  animation: shake 150ms 2 linear;
}
