.app {
  flex-grow: 1;
  display: flex;
}

.body * {
  transition: all 0.2s;
}

.notifications {
  position: fixed;
  top: 80px;
  right: 0;
  width: fit-content;
  height: fit-content;
  z-index: 5000;
}
